* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 1rem;
    font-family: monospace;
    font-size: 1.2rem;
}

div {
    margin: 1rem;
    border: 1px dashed;
    padding: 1rem;
}

/* -----------------------
   EXERCISE 1
------------------------ */

.one {
    width: 200px;
    height: 200px;
}

/* Flex centered */
.flex {
    background-color: #aba;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Grid centered */
.grid {
    background-color: #abb;
    display: grid;
    place-items: center;
}

/* -----------------------
   EXERCISE 2
------------------------ */

.container2 {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    flex-wrap: wrap;
}

.two {
    background-color: #ace;
    height: 100px;
    flex: 1 1 150px; /* responsive */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* -----------------------
   EXERCISE 3
------------------------ */

.container3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.columns-3 {
    grid-column: span 3;
}

.three {
    margin: .25rem;
    background-color: #abd;
    text-align: center;
    padding: 1rem;
}
